<%- include('partials/header') %>

<main>
	<section id="page404">

		<img src="/images/404.gif" alt="404" />

		<div>
			<h1>404</h1>

			<p>Quelque chose d'horrible s'est produit</p>
			<p>C'est de notre faute</p>
			<p>Veuillez ré-essayer plus tard</p>
			
			<p>
				<a href="/">Retour à l'accueil</a>
			</p>
		</div>

	</section>
</main>

<%- include('partials/footer') %>
