/* __________ Home CSS __________ */

/* ======== About Section ======== */

#about {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
}

#about img {
	border-radius: 0.7rem;
	object-fit: cover;
	width: 50%;
	max-width: 650px;
}

@media screen and (max-width: 1280px) {
	#about img {
		display: none;
	}
}

#about h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

#about p {
	line-height: 1.5rem;
	margin: 3rem 0;
	font-size: 1.3rem;
	line-height: 2rem;
	text-align: justify;
}

#about a {
	width: fit-content;
}

/* ======== Latest Products Section ======== */

#latest-products ul {
	display: flex;
	gap: 3rem;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 2.5rem 0;
}

#latest-products li {
	flex-grow: 1;
	flex-basis: 16rem;
}

#latest-products article {
	background-color: var(--color-orange);
	box-shadow:
		rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 0.5rem;
}

#latest-products article img {
	width: 100%;
	height: 15rem;
	object-fit: cover;

	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

#latest-products article div {
	padding: 1.5rem;
}

#latest-products article a {
	margin-top: 1rem;
}

/* __________ Catalog CSS __________ */

#catalog h1 {
	padding: 4.5rem;
	background-image: url(../images/coffees/256505890.png);
	border-radius: 0.5rem;

	text-align: center;
	font-size: 2rem;
}

#catalog select {
	display: block;
	margin-top: 4rem;
	margin-left: auto;
	padding: 3px 5px;
}

#catalog .articles {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(20rem, 1fr)
	); /* https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/ */
	gap: 2rem;

	margin-top: 5rem;
}

/* Bonus : hide all articles after the 3rd one until the user clicks the button to display more */
#catalog .only-display-3-articles article:nth-child(n + 4) {
	display: none;
}

#catalog article {
	box-shadow:
		rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 0.5rem;
}

#catalog article img {
	height: 12rem;
	width: 100%;
	object-fit: cover;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

#catalog article div {
	padding: 2rem;
	text-align: end;
}

#catalog article h2 {
	margin-bottom: 1rem;
}

#catalog article a {
	margin-top: 1rem;
}

#catalog button {
	margin: 2rem auto 0 auto;
}

/* __________ Product CSS __________ */

#product {
	margin: 4rem 0;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

#product img {
	border-radius: 0.7rem;
	box-shadow:
		rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px,
		rgba(0, 0, 0, 0.09) 0px -3px 5px;
	object-fit: cover;
	object-position: center;
	height: 50%;
	max-height: 500px;
}

#product article {
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	border-radius: 0.7rem;
}

#product article div {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

#product .availability {
	align-self: flex-end;
}

#product .true {
	color: #3fff00;
}

#product .false {
	color: red;
}

#product .name {
	padding: 2.5rem;
	text-align: center;
	font-size: 2rem;
	font-weight: bolder;
	color: var(--color-orange);
}

#product .description {
	padding: unset;
	align-self: flex-start;
	flex-direction: row;
	gap: 5rem;
}

#peoduct .details {
	align-self: flex-start;
	flex-grow: 2;
	flex-direction: column;
	gap: 0.8rem;
}

#product .label {
	text-decoration: underline;
	text-underline-offset: 0.25em;
	color: var(--color-orange);
}

#product .text {
	align-self: center;
}

#product .button {
	max-width: 20rem;
	margin: auto;
}

/* __________ 404 CSS __________ */

#page404 {
	margin: 4rem 0;
	display: flex;
	justify-content: space-around;
	gap: 2rem;
}

#page404 div {
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#page404 h1 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	justify-self: flex-start;
	color: var(--color-yellow);
}

#page404 p {
	line-height: 1.5rem;
	font-size: 1.3rem;
	text-align: center;
}

#page404 img {
	border-radius: 0.7rem;
	max-width: 650px;
}

#page404 a {
	width: fit-content;
	color: var(--color-orange);
}
